.parallux {
  height: 600px;
  z-index: 1; }
  .parallux .parallux-bg .parallux-inner .text p {
    font-size: 22px; }
  .parallux .parallux-bg .parallux-inner.bg-header {
    background-image: url(../img/banner.jpg); }

.wrapper {
  background-color: #FFF;
  width: 100%;
  z-index: 2;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  transform: translateZ(0); }
