img{
	display: block;
	width: 100%;
}

html, body{
	height: 100%;
}

#bg-1,#bg-2, #bg-3{
	background-size: cover;
	//background-attachment: fixed;
	background-position: 50%;
	background-color: #999;
}

#bg-1{
	background-image: url('../img/img-1.jpg') ;
}
#bg-2{
	background-image: url('../img/img-2.jpg');
}
#bg-3{
	background-image: url('../img/img-3.jpg');
}